body{
    background-color: rgba(83, 80, 80,40%);
}

h1{
    font-size: 50px;
    color:  #EDEDED;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    padding-left: 40px;
    color: #EDEDED;
    font-family:"https://fonts.google.com/specimen/Poppins";
    text-align: center;
}
footer{
    padding-top: 220px;
}
