body{
    background-color: rgba(0, 0, 0, 0.4);
}
h1{
    font-size: 50px;
    color:  #FFFFFF;
    font-family: "https://fonts.google.com/specimen/Lato";
    text-align: center;
   
}
footer{
    padding-top: 320px;
}
ul{
    color:  #FFFFFF;
}
